
.radio{
}

.label{
    width: 100%;
    border: black solid 2px;
    font-size: 12px;
    font-family: 'courier prime', monospace;
    background-color: #CCDBDC;
    max-width: 100%;
}

.radio:checked + .label{
    background-color: #B3CACB;
}

.container{
    width: auto;
    display: flex;
    flex-direction: row;
}

