.main{
    display: flex;
    flex-direction: row;
    height: 80vh;
    background-color: white;
    border: black solid 1px;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #CCDBDC;
    border: black solid 1px;
}
.options button{
    flex: 1 1 0;
    border: black   solid 1px;
    height: 50px;
    background-color: #CCDBDC;
}

.navigate{
    display: flex;
    flex-direction: column;
    height: 80vh;
    border: black solid 1px;
}
.image{
    height: 250px;
    width: 340px;
    background-color: #C4C4C4;
    margin: 30px;
}

.header{
    background-color: #CCDBDC;
    height: 25px;
    font-size: 14px;
    border: black dashed 1px;
    width: 100%;
}
.menu{
    width:30vw;
    border: black solid 1px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.housenumber{
    width: 50px;
}

.invisible{
    display: none;
}

.content{
    height: calc(80vh - 25px - 50px);
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
.content-container{
    width: 100%;
 }

.newItemButton{
    width: 300px;
    height: 100px;
    border: black solid 2px;
    font-size: 12px;
    font-family: 'courier prime', monospace;
    background-color: #CCDBDC;
    max-width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-main{
    width: auto;
    font-family: 'courier prime', monospace;
    font-size: 36px;
    display: flex;
    flex-direction: column;
}

