.startstop-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.startstop-select {
    max-width: 350px;
}

.startstop-label{

}