.header-single {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 20vh;
    min-height: 124px;
    background-color: #80CED7;
}
.header-double {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    height: 20vh;
    min-height: 124px;
    background-color: #80CED7;
}

.header-title {
    color: #0075A2;
    background: #80CED7;
}