@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
:root{
  --brownish: #C4C4C4;
}
.App {
  text-align: center;
}

body {
  background-color: #CCDBDC;
}

